  <header>

    <!-- Video from coverr.co -->
    <video class="video-bg" autoplay muted loop>
      <source src="assets/videos/video3.mp4" type="video/mp4" />
      <source src="http://www.georgewpark.com/video/blurred-street.webm" type="video/webm" />
    </video>
  
    <div class="video-overlay">
      <h1>Motoshift</h1>
    </div>
  
  </header>
<!--The content below is only a placeholder and can be replaced.-->
<div class="content-wrapper container-fluid">

    <div class="navbar">
        
    </div> 
    <div class="video-section">
        <div class="video-col-container1">
          <!--<img class="gallery-image" src="assets/images/motoshift_7.gif" alt="Bild1">-->
          <img class="gallery-image" src="assets/images/motoshift_10.gif" alt="Bild1">
        </div>
        <div class="video-col-container2">
          <video class="video-2" controls>
            <source src="assets/videos/video1.mp4" type="video/mp4" />
            <source src="http://www.georgewpark.com/video/blurred-street.webm" type="video/webm" />
          </video>
        </div>
        <div class="video-col-container3">
          <img class="gallery-image" src="assets/images/motoshift_10.gif" alt="Bild1">
        </div>
    </div>
    <div class="navbar">
        
    </div>
    <div id="main">
        <div class="row images-grid">
          <div class="col-container1 col-container">
            <img class="gallery-image" src="assets/images/motoshift_1.jpg" alt="Bild1">
          </div>
          <div class="col-container">
            <img class="gallery-image" src="assets/images/motoshift_2.gif" alt="Bild2">
          </div>
          <div class="col-container">
            <img class="gallery-image" src="assets/images/motoshift_8.gif" alt="Bild3">
          </div>
          <div class="col-container">
            <img class="gallery-image" src="assets/images/motoshift_4.gif" alt="Bild1">
          </div>
          <div class="col-container">
            <img class="gallery-image" src="assets/images/motoshift_5.gif" alt="Bild1">
          </div>
          <div class="col-container">
            <img class="gallery-image" src="assets/images/motoshift_6.gif" alt="Bild1">
          </div>
        </div>
    </div>
    <div id="footer">
      <img class="nav-logo-footer" src="assets/images/motoshift_logo.png" alt="">
      <p class="footer-copyright">This page is Copyright by Motoshift</p>
    </div>
  </div>
