  <header>

    <!-- Video from coverr.co -->
    <video class="video-bg" autoplay muted loop>
      <source src="assets/videos/video3.mp4" type="video/mp4" />
      <source src="http://www.georgewpark.com/video/blurred-street.webm" type="video/webm" />
    </video>
  
    <div class="video-overlay">
      <h1>Motoshift</h1>
    </div>
  
  </header>
<!--The content below is only a placeholder and can be replaced.-->
<div class="content-wrapper container-fluid">
    <div id="aboutus">
        <h2>Über uns</h2>
        <p>Guten Tag und herzlich Willkommen bei Motoshift. Diese Webseite wurde im Auftrag eines Informatikprojektes der Schule GIBZ Zug erstellt.</p>
        <p>
          Auftrag war es ein E-Portfolio zu erstellen, welches unsere Fähigkeiten im Umgang mit Multimedia-Inhalten im Web zeigt. Dieses Portfolio soll Bilder, Videos und Audio Inhalte präsentieren, welche unsere Fähigkeiten in Erstellung und Aufbereitung wiederspiegeln. Zu diesen Multimedia Inhalten gehören Fotografie-/Bildmanipulationen, Logokreationen, Kurzvideos und weiterem, welche zu einem frei wählbaren Thema passen sollen.
          Diese Dokumentation soll die Arbeiten am E-Portfolio und den damit verbundenen Medien dokumentieren.
        </p>
        <p>
          Wir haben uns für das Thema Motorrad und Landschaft entschieden,
          weil wir eine Leidenschaft für Motorräder haben und die Schweizer Landschaft lieben.
          Hier findest du Videos von unseren Motorradtouren und bearbeitete Bilder von Landschaften mit Motorräder,
          welche wir auf unseren Touren geschossen haben.
        </p>

      </div>
    <div class="navbar">
        
    </div> 
    <div class="video-section">
        <div class="video-col-container1">
          <!--<img class="gallery-image" src="assets/images/motoshift_7.gif" alt="Bild1">-->
          <<img class="gallery-image" srcset="assets/images/Bilder/pic7/large.gif 870w, assets/images/Bilder/pic7/medium.gif 780w, assets/images/Bilder/pic7/small.gif 625w" alt="Bild1">
        </div>
        <div class="video-col-container2">
          <video class="video-2" controls>
            <source src="assets/videos/video1.mp4" type="video/mp4" />
            <source src="http://www.georgewpark.com/video/blurred-street.webm" type="video/webm" />
          </video>
        </div>
        <div class="video-col-container3">
          <img class="gallery-image" srcset="assets/images/Bilder/pic10/large.gif 870w, assets/images/Bilder/pic10/medium.gif 780w, assets/images/Bilder/pic10/small.gif 625w" alt="Bild1">
        </div>
    </div>
    <div class="navbar">
        
    </div>
    <div id="main">
        <div class="row images-grid">
          <div class="col-container1 col-container">
            <img class="gallery-image" srcset="assets/images/Bilder/pic1/large.gif 870w, assets/images/Bilder/pic1/medium.gif 780w, assets/images/Bilder/pic1/small.gif 625w" alt="Bild1">
          </div>
          <div class="col-container">
            <img class="gallery-image" srcset="assets/images/Bilder/pic2/large.gif 870w, assets/images/Bilder/pic2/medium.gif 780w, assets/images/Bilder/pic2/small.gif 625w" alt="Bild1">
          </div>
          <div class="col-container">
            <img class="gallery-image" srcset="assets/images/Bilder/pic3/large.gif 870w, assets/images/Bilder/pic3/medium.gif 780w, assets/images/Bilder/pic3/small.gif 625w" alt="Bild1">
          </div>
          <div class="col-container">
            <img class="gallery-image" srcset="assets/images/Bilder/pic4/large.gif 870w, assets/images/Bilder/pic4/medium.gif 780w, assets/images/Bilder/pic4/small.gif 625w" alt="Bild1">
          </div>
          <div class="col-container">
            <img class="gallery-image" srcset="assets/images/Bilder/pic5/large.gif 870w, assets/images/Bilder/pic5/medium.gif 780w, assets/images/Bilder/pic5/small.gif 625w" alt="Bild1">
          </div>
          <div class="col-container">
            <img class="gallery-image" srcset="assets/images/Bilder/pic6/large.gif 870w, assets/images/Bilder/pic6/medium.gif 780w, assets/images/Bilder/pic6/small.gif 625w" alt="Bild1">
          </div>
        </div>
    </div>

    <div id="impressum">
      <h2 style="margin-top: 0;">Impressum</h2>
      <p class="impressum-subheader">Namen</p>
      <p>Kevin Wüstner & Dany Van der Meij</p>
      <p class="impressum-subheader">Schule</p>
      <p>Gewerblich-industrielles Bildungszentrum Zug GIBZ</p>
      <p>Baarerstrasse 100</p>
      <p>6300 Zug</p>
    </div>
    <div id="footer">
      <img class="nav-logo-footer" src="assets/images/motoshift_logo.png" alt="">
      <p class="footer-copyright">This page is Copyright by Motoshift</p>
    </div>
  </div>
